
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" name="name" value="" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="name" value="" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" name="name" value="" />
    <br />
    <label>Mesajınız</label>
    <textarea class="form-control" rows="12"></textarea>
    <br />
    <button class="btn btn-primary">Gönder</button>
</div>

